.page-banner {
    border-bottom: 10px solid #f7c750;
    height: 100%;
    max-height: 410px;
}

.page-banner--campaign-hero {
    height: 100%;
    max-height: 360px;
    margin: 0;
    padding: 0;
}

.page-banner .container {
    margin: 0;
    padding: 0 16px;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.page-banner--campaign .breadcrumb {
    margin: 20px 0 35px 0;
}

.page-banner .row, .page-banner .col-xs-10 {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}

.page-banner .page-banner--campaign h1 {
    margin: 0;
    font-size: 30px;
    list-style: 35px;
}

.page-banner .page-banner--campaign h1 div {
    padding: 0;
    color: #003168 !important;
}

.page-banner--campaign h2 {
    font-size: 16px;
    line-height: 19.2px;
    color: #003168 !important;
    margin: 0;
    padding: 0;
    max-width: 47vw;
    width: 100%;
}

/* first <p> (the one with <br>) */
.page-banner--campaign .col-lg-7.col-md-8.col-xs-10 p:nth-of-type(1) {
  display: none;
}

/* second <p> (has class .hero-cta) */
.page-banner--campaign .col-lg-7.col-md-8.col-xs-10 p:nth-of-type(2) {
  display: none;
}

/* third <p> (has class .watch-video) */
.page-banner--campaign .col-lg-7.col-md-8.col-xs-10 p:nth-of-type(3) {
  margin: 0;
  padding: 0;
}

/* fourth <p> (the trailing empty one) */
.page-banner--campaign .watch-video-link {
    display: flex;
    padding: 3.188px 25.013px;
    font-size: 14px;
    justify-content: center;
    align-items: center;
}

@media (max-width: 767px) {
  .page-banner--campaign {
    background-image: url('/assets/rbccm/images/citizenship/changealife/changealife-banner-mobile.png');
    background-position: center top;
  }
}

So this is a mobile only css file i'm creating to work around boostrap and teamsites imlmeentation. Can we make it from 0 to 768 this applies? can you aslo clean up things in alaphaetical order? css rultes etc? But do NOT remove any selctors